<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

    <main role="main">     
      <hr>
      <div class="container">

        <div class="card">
          <h4 class="card-header"><strong>Datos de la categoría</strong></h4>              
          <div class="card-body">
            <form th:action="@{/categorias/formCategoria}" method="post" th:object="${categoria}">              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" th:errorclass="alert-danger" placeholder="Escriba el nombre de la categoria">
                    <span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" th:field="*{descripcion}" th:errorclass="alert-danger" rows="4"></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
                  </div> 
                </div>                
              </div> 
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:replace="layout/layout :: footer"></footer>  
  </body>
</html>
